###
# 1. Copy to /etc/systemd/system
#   - cp solar.service /etc/systemd/system/
#
# 2. Enable service to load on startup
#   - systemctl enable solar.service
#
# 3. Start service now
#   - systemctl start solar.service
###

[Unit]
Description=Run solar application on startup
 
[Service]
Type=oneshot
ExecStart=/sbin/modprobe ts-st7565p-fb
ExecStart=/usr/local/bin/lcd-helper
ExecStart=/usr/local/bin/solar
RemainAfterExit=yes
 
[Install]
WantedBy=multi-user.target
